table {
    width: 100%;
    text-align: center;
    color: #000;
    background-color: #fff;
}

table .product_img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:none;  
   
}

table td,
table th {
    padding: 10px;
    color: #000;
    border: 1px solid #000;


}

table .total th {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

table .total td {
    text-align: center;
    font-weight: 700;
    
}

table .product_img,
table .product_name,
table .product_Price,
table .product_quantity,
table .product_remove {
    color: #000;
    
}

table .product_img,
table .product_name,
table .product_Price,
table .product_quantity,
table .product_remove {
    color: #000;

}


.table-header h3 {
    color: #fff;
    padding: 10px 15px;

}

.btns button{
    width: 50px;
    height: 50px;
    border: 1px solid #acacac;
    border-radius: 50px;
    font-size: 20px;
  }

.product_update{
    position: relative;
}
.checkout{
    padding: 16px 40px;
    border-radius: 10px;
    background-color: transparent;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}
 .checkout{
    padding: 15px 35px;
    right: 0%;
    top: 30px;
}
.product_update a:hover .checkout{
    background-color: #000;
    color: #fff;
}
.product_Name{
    font-size: 25px;
}